.calculator {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .beverage-type label {
    margin-right: 20px;
  }
  
  input[type="number"] {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    max-width: 200px;
  }
  

  /* Contenedor de los botones toggle */
.toggle-group {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.toggle-button {
  background-color: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 0;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  flex: 1;
  text-align: center;
  transition: background-color 0.2s, color 0.2s;
}

.toggle-button:not(:last-child) {
  border-right: none;
}

.toggle-button.active {
  background-color: var(--principal-color);
  color: white;
  font-weight: bold;
}

.toggle-button:hover {
  background-color: var(--principal-color-hover);
  color: white;
}


.aditional-info {
  text-align: left;
}