<b>Form's Value:</b>
{{ ingredientsCostsForm.value | json }}
<br />
<b>Form is Valid ? :</b>
{{ ingredientsCostsForm.valid }}
<hr>
{{ ingredientsLabels | json }}

<div class="calculator-container">
    <h1>Calculadora Costes</h1>
    <form [formGroup]="ingredientsCostsForm">
        <div class="product-section">
            <div class="product-header">
                <div>Producto</div>
                <div>Valor</div>
                <div>Uso y coste</div>
            </div>@if(ingredientsArray.value.length) {
            <div class="product-item" formArrayName="ingredients">
                @for(x of ingredientsArray.controls; track $index) {
                <ng-container [formGroupName]="$index">
                    <div>
                        <select (change)="onChange($index)" formControlName="code">
                            <option [value]="null" disabled>Producto</option>
                            @for(item of ingredientsLabels; track $index) {
                            @if(item) {<option [value]="item.code">{{item.name}}</option>}
                            }
                        </select>
                    </div>
                    <div class="value-fields"> 
                        <input type="text" placeholder="Precio" formControlName="price">
                        <input type="text" placeholder="Cantidad por lote" formControlName="weight">
                        <select formControlName="unit">
                            <option [value]="null" disabled>Unidad</option>

                            @for(unit of units; track $index) {
                            @if(unit) {<option [value]="unit">{{unit}}</option>}
                            }
                        </select>
                    </div>
                    <div class="usage-fields">

                        <input type="text" placeholder="Cantidad usada" formControlName="useWeight">
                        <select formControlName="useUnit">
                            <option [value]="null" disabled>Unidad</option>
                            @for(unit of units; track $index) {
                            @if(unit) {<option [value]="unit">{{unit}}</option>}
                            }
                        </select>
                        <input type="text" placeholder="Coste (disabled)" formControlName="cost">
                    </div>

                    <button class="delete-btn" [ngClass]="{'not-show': $index === 0 && ingredientsArray.value.length === 1}" (click)="deleteItem($index)"
                        [disabled]="$index === 0 && ingredientsArray.value.length === 1">🗑️</button>
                </ng-container>



                }



            </div>
            } @else {
            <span class="product-item">No hay elementos, haz click en + Nuevo item</span>
            }
            <div class="actions">
                <button class="add-item" (click)="addNewItem()" [disabled]="ingredientsCostsForm.invalid">+ Nuevo item</button>
                <button class="delete-all" (click)="deleteAll()">Eliminar todos</button>
            </div>
        </div>
    </form>

</div>