*{
  font-size: 105%;
} 
/* Elimina los márgenes y paddings globales */
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

router-outlet {
  margin: 3rem;
}

.gel-calculator {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  form div {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }

  .option-check {
    display: inline;
    font-weight: normal;
  }

  .option-check:hover {
    cursor: pointer;
  }

  label, .option-check {
    margin-bottom: 5px;
    font-size: 20px;
  }

  ul.list {
    list-style-type: '- ' !important;
}
  
  input[type="range"] {
    width: 100%;
  }
  
  span {
    margin-left: 10px;
  }
  
  h1, h2, h3, h4 {
    margin-top: 20px;
  }
  
.section-title {
  font-size: 150%;
}

  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
}

.instructions{
  text-align: left;
} 

.instructions li {
  margin-top: 1rem;
}

p {
  font-size: 105%;
}

.sliders {
    margin-bottom: 30px;
}

.slider {
    margin: 20px 0;
}



 /* Contenedor de las tarjetas */
 .accordion-content .card-container {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  padding: 20px;
}

/* Estilo de cada tarjeta */
.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

/* Imagen de la tarjeta */
.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

/* Texto y enlace */
.card a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.card a:hover {
  color: #007bff;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--principal-color);
  color: white;
  padding: 1rem 0;
  z-index: 2500;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.footer-space {
  height: 4rem;
}

.container {
  padding: 0;
  background-color: transparent;
}